<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
		<div th:fragment="container-fluid"  class="container-fluid">
			<script type="text/javascript">
				$(function(){
					pageQueryParams.index = '[[${pageTools.index}]]';
					pageQueryParams.pageSize = '[[${pageTools.pageSize}]]';
					pageQueryParams.total = '[[${pageTools.total}]]';
					
					$("#queryBTN").click(function(){
						var dataParams = $("#queryFrom").serialize(); 
						pageQueryParams.fromQueryData=dataParams;
						render(pageQueryParams);  // 渲染页面函数
					});
					
					$("[data-toggle='popover']").popover();
					
					initTimePicker();
				});
			</script>
			<h3 class="page-title">粉丝订单信息</h3>
			<div class="row">
				<div class="col-md-12">
					<!-- TABLE HOVER -->
					<div class="panel panel-info">
						<form class="form-inline" id="queryFrom">
							<div class="panel-body"  style="border-bottom:solid #ddd 1px;">
									<div class="form-group" th:if="${session.user.isAdmin()}">
										<label>促消客服号</label> 
										<input type="text" class="form-control"  placeholder="促消客服" name="userId" 
											th:attr="value=${queryObject==null}?'':${queryObject.userId}">
									</div>
									<div class="form-group">
										<label>消费编号</label> 
										<input type="text" class="form-control"  placeholder="消费编号" name="consumeId" 
											th:attr="value=${queryObject==null}?'':${queryObject.consumeId}">
									</div>
									<div class="form-group">
										<label>粉丝微信</label> 
										<input type="text" class="form-control"  placeholder="粉丝编号" name="wechatNo" 
											th:attr="value=${queryObject==null}?'':${queryObject.wechatNo}">
									</div>
									<div class="form-group">
										<label>订单号</label> 
										<input type="text" class="form-control"  placeholder="订单号" name="orderNo" 
											th:attr="value=${queryObject==null}?'':${queryObject.orderNo}">
									</div>
									<div class="form-group">
										<label>消费日期</label> 
										<span class="input-group input-append date" datepicker-flag="datepicker">
											<input type="text" class="form-control" name="consumeDate"
	                                            placeholder="yyyymmdd" data-date-format="yyyymmdd" 
	                                            th:attr="value=${queryObject==null}?${#dates.format(#dates.createNow(), 'yyyyMMdd')}:${queryObject.consumeDate}">
	                                         <span class="input-group-addon add-on">
	                                            <i class="glyphicon glyphicon-calendar"></i>
	                                         </span>
										 </span>
									</div>
									<div class="form-group">
										<label>消费类型</label>
										<select class="form-control" name="consumeType">
											<option value="" >===消费类型===</option>
											<option th:each="map:${session.consumeTypeMap}" th:selected="${queryObject!=null&&queryObject.consumeType == map.key}" 
													th:value="${map.key}" th:text="${map.value}"></option>
										</select>
									</div>
							</div>
							<div class="panel-body"  style="border-bottom:solid #ddd 1px;">
									<div style="float:right;" >
										<div class="btn-group">
											<button id="queryBTN" type="button" class="btn btn-default">
											<i class="fa fa-search"></i> 查询
											</button>
										</div>
									</div>
							</div>
						</form>
						<div class="panel-body">
							<table class="table table-hover">
							<thead>
								<tr>
									<th>消费编号</th>
									<th>微信号</th>
									<th th:if="${session.user.isAdmin()}">促消客服</th>
									<th>消费金额</th>
									<th>订单号</th>
									<th>消费类型</th>
									<th>消费日期</th>
									<th>消费时间</th>
									<th>备注</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="obj : ${resultList}">
									<td th:text="${obj.consumeId}"></td>
									<td th:text="${obj.wechatNo}"></td>
									<td th:text="${obj.userId}" th:if="${session.user.isAdmin()}"></td>
									<td th:text="${obj.amount}"></td>
									<td th:text="${obj.orderNo}"></td>
									<td th:text="${session.consumeTypeMap.get(obj.consumeType)}"></td>
									<td th:text="${obj.consumeDate}"></td>
									<td th:text="${#dates.format(obj.consumeTime, 'yyyy-MM-dd HH:mm:ss')}" ></td>
									<td th:text="${obj.remark}" class="textOverFlowHide" 
										data-container="body" data-toggle="popover"
										data-trigger="hover" data-placement="top"
										th:attr="data-content=${obj.remark}">
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						
						<div class="panel-footer">
							<ul class="pagination" >

							</ul>
						</div>
					</div>
					<!-- END TABLE HOVER -->
				</div>
			</div>
		</div>
</body>
</html>