<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>test</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
	<div th:fragment="dialog-content">
		<script th:inline="javascript">
			/*<![CDATA[*/
			var modifyInfo = /*[[${modifyInfo}]]*/;
			/*]]>*/
			$(function(){
				initTimePicker();
			})
		</script>

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="ModifyModalTitle">编辑广告账号信息</h4>
		</div>
		<div class="modal-body">
			<form id="modifyDataFrom" class="form-horizontal" role="form">
				<input id="modifyId" name="id" type="hidden"
					th:attr="value=${modifyInfo==null}?'':${modifyInfo.id}">
				<input id="modifyModel" name="modifyModel" type="hidden"
					th:attr="value=${modifyModel==null}?'':${modifyModel}">
				 
				<div class="form-group">
					<label class="col-sm-2 control-label">介绍人</label>
					<div class="col-sm-10">
						<input type="text" class="form-control number" placeholder="介绍人" name="introducer"
							th:attr="value=${modifyInfo==null}?'':${modifyInfo.introducer}">
					</div>
				</div>  
				<div class="form-group">
					<label class="col-sm-2 control-label">平台</label>
					<div class="col-sm-10">
						<input type="text" class="form-control number" placeholder="平台" name="platform"
							th:attr="value=${modifyInfo==null}?'':${modifyInfo.platform}">
					</div>
				</div>  
				<div class="form-group">
					<label class="col-sm-2 control-label">返点</label>
					<div class="col-sm-10">
						<input type="text" class="form-control number" placeholder="返点" name="rebate"
							th:attr="value=${modifyInfo==null}?'':${modifyInfo.rebate}">
					</div>
				</div>  
				<div class="form-group">
					<label class="col-sm-2 control-label">账号</label>
					<div class="col-sm-10">
						<input type="text" class="form-control number" placeholder="账号" name="acct"
							th:attr="value=${modifyInfo==null}?'':${modifyInfo.acct}">
					</div>
				</div>  
				<div class="form-group">
					<label class="col-sm-2 control-label">密码</label>
					<div class="col-sm-10">
						<input type="text" class="form-control number" placeholder="密码" name="pwd"
							th:attr="value=${modifyInfo==null}?'':${modifyInfo.pwd}">
					</div>
				</div>  
				<div class="form-group">
					<label class="col-sm-2 control-label">PC域名</label>
					<div class="col-sm-10">
						<input type="text" class="form-control number" placeholder="PC域名" name="pcUrl"
							th:attr="value=${modifyInfo==null}?'':${modifyInfo.pcUrl}">
					</div>
				</div>  
				<div class="form-group">
					<label class="col-sm-2 control-label">PC域名</label>
					<div class="col-sm-10">
						<input type="text" class="form-control number" placeholder="PC域名" name="mobileUrl"
							th:attr="value=${modifyInfo==null}?'':${modifyInfo.mobileUrl}">
					</div>
				</div>  
				<div class="form-group">
					<label class="col-sm-2 control-label">公司</label>
					<div class="col-sm-10">
						<input type="text" class="form-control number" placeholder="公司" name="company"
							th:attr="value=${modifyInfo==null}?'':${modifyInfo.company}">
					</div>
				</div>  
				<div class="form-group">
					<label  class="col-sm-2 control-label">状态</label>
					<div class="col-sm-10">
						<select class="form-control" name="status">
							<option th:each="map:${@commonConstants.getDictionarysByKey('ADAccountStatus')}" 
									th:selected="${modifyInfo!=null&&modifyInfo.status == map.key}" 
									th:value="${map.key}" th:text="${map.value}"></option>
						</select> 
					</div>
				</div>
							
				<div class="form-group">
					<label class="col-sm-2 control-label">创建日期</label>
					<div class="col-sm-10">
						<span class="input-group input-append date" datepicker-flag="datepicker">
							<input readonly type="text" class="form-control" name="createdDate" placeholder="yyyymmdd"
								data-date-format="yyyymmdd"
								th:attr="value=${modifyInfo==null}?${#dates.format(#dates.createNow(), 'yyyyMMdd')}:${modifyInfo.createdDate}">
							<span class="input-group-addon add-on">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
						</span>
					</div>
				</div>
				
				<div class="form-group">
					<label  class="col-sm-2 control-label">备注</label>
					<div class="col-sm-10">
						<textarea name="remark" class="form-control" rows="3" placeholder="请输入备注信息" th:text="${modifyInfo==null}?'':${modifyInfo.remark}"></textarea>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			<button type="button" class="btn btn-primary" id="ModifyModalSubmit">提交</button>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function() {

		$("#ModifyModal").on("hidden.bs.modal", function() {
			$(this).removeData("bs.modal");
		});

		$('#modifyDataFrom').bootstrapValidator({
			message : '输入无效,请重新输入',
			group : '.form-group',
			trigger : 'keyup focus',
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			fields : { 
				rebate: {
	                message: '金额输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '金额不能为空'
	                    },
		                regexp: {
	                        regexp: /^(([1-9]\d*)(\.\d{1,2})?)$|^(0\.0?([1-9]\d?))$/,
	                        message: '消费金额不正确'
	                    }
	                }

	            }, 
			}
		});
	});
</script>
</html>
