<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.crm.orders.dao.CustOrderMapper">
	<resultMap id="BaseResultMap" type="com.base.crm.orders.entity.CustOrder">
		<id column="order_no" jdbcType="BIGINT" property="orderNo" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="o_wechat_no" jdbcType="VARCHAR" property="oWechatNo" />
		<result column="order_status" jdbcType="INTEGER" property="orderStatus" />
		<result column="contact" jdbcType="VARCHAR" property="contact" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="o_phone" jdbcType="BIGINT" property="oPhone" />
		<result column="product_list" jdbcType="VARCHAR" property="productList" />
		<result column="deposits" jdbcType="DECIMAL" property="deposits" />
		<result column="cash_on_delivery_amt" jdbcType="DECIMAL" property="cashOnDeliveryAmt" />
		<result column="total_amt" jdbcType="DECIMAL" property="totalAmt" />
		<result column="after_Discount_Amt" jdbcType="DECIMAL" property="afterDiscountAmt" />
		<result column="pay_Amount" jdbcType="DECIMAL" property="payAmount" />
		<result column="payment_method" jdbcType="INTEGER" property="paymentMethod" />
		<result column="express_company" jdbcType="VARCHAR" property="expressCompany" />
		<result column="express_no" jdbcType="VARCHAR" property="expressNo" />
		<result column="order_date" jdbcType="VARCHAR" property="orderDate" />
		<result column="order_datetime" jdbcType="TIMESTAMP" property="orderDatetime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="buy_status" jdbcType="VARCHAR" property="buyStatus" />
		<result column="express_amount" jdbcType="DECIMAL" property="expressAmount" />
		<result column="depository_id" jdbcType="DECIMAL" property="depositoryId" />
		<result column="assort_id" jdbcType="DECIMAL" property="assortId" />
		<result column="delivery_date" jdbcType="DECIMAL" property="deliveryDate" />
	</resultMap>
	
	<resultMap id="pageCustOrderMap" type="com.base.crm.orders.entity.CustOrder" >
		<id column="order_no" jdbcType="BIGINT" property="orderNo" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="o_wechat_no" jdbcType="VARCHAR" property="oWechatNo" />
		<result column="order_status" jdbcType="INTEGER" property="orderStatus" />
		<result column="contact" jdbcType="VARCHAR" property="contact" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="o_phone" jdbcType="BIGINT" property="oPhone" />
		<result column="product_list" jdbcType="VARCHAR" property="productList" />
		<result column="deposits" jdbcType="DECIMAL" property="deposits" />
		<result column="cash_on_delivery_amt" jdbcType="DECIMAL" property="cashOnDeliveryAmt" />
		<result column="total_amt" jdbcType="DECIMAL" property="totalAmt" />
		<result column="after_Discount_Amt" jdbcType="DECIMAL" property="afterDiscountAmt" />
		<result column="pay_Amount" jdbcType="DECIMAL" property="payAmount" />
		<result column="payment_method" jdbcType="INTEGER" property="paymentMethod" />
		<result column="express_company" jdbcType="VARCHAR" property="expressCompany" />
		<result column="express_no" jdbcType="VARCHAR" property="expressNo" />
		<result column="order_date" jdbcType="VARCHAR" property="orderDate" />
		<result column="order_datetime" jdbcType="TIMESTAMP" property="orderDatetime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="buy_status" jdbcType="VARCHAR" property="buyStatus" />
		<result column="express_amount" jdbcType="DECIMAL" property="expressAmount" />
		<result column="depository_id" jdbcType="DECIMAL" property="depositoryId" />
		<result column="assort_id" jdbcType="DECIMAL" property="assortId" />
		<result column="delivery_date" jdbcType="DECIMAL" property="deliveryDate" />
        <collection property="user" column="user_id" select="com.base.crm.users.dao.UserInfoMapper.selectByPrimaryKey">
        </collection>
        <collection property="custInfo" column="o_wechat_no" select="com.base.crm.customer.dao.CustInfoMapper.selectByPrimaryWechatNo">
        </collection>
    </resultMap>
		
	<sql id="Base_Column_List">
		order_no, user_id, o_wechat_no, order_status, contact, address, o_phone,
		product_list,
		deposits, cash_on_delivery_amt, total_amt, after_Discount_Amt, pay_Amount,
		payment_method,
		express_company, express_no, order_date, order_datetime,remark,buy_status,
		express_amount,depository_id,assort_id,delivery_date
	</sql>
	
	<sql id="dynamicWhere">
		<where>
			<if test="orderNo != null">order_no=#{orderNo}</if>
			<if test="userId != null">and user_id=#{userId}</if>
			<if test="orderStatus != null">and order_status = #{orderStatus}</if>
			<if test="contact != null and contact.length()>0">and contact like  CONCAT(#{contact},'%')</if>
			<if test="address != null and address.length()>0">and address like  CONCAT(#{address},'%')</if>
			<if test="orderDate != null and orderDate.length()>0">and order_date=#{orderDate}</if>
			<if test="startDate != null and startDate.length()>0">and order_date>=#{startDate}</if>
			<if test="endDate != null and endDate.length()>0">and order_date <![CDATA[<=]]>#{endDate}</if>
			<if test="oPhone != null">and o_phone = #{oPhone}</if>
			<if test="deposits != null">and deposits = #{deposits}</if>
			<if test="paymentMethod != null">and payment_method = #{paymentMethod}</if>
			<if test="expressCompany != null and expressCompany.length()>0">and express_company like  CONCAT(#{expressCompany},'%')</if>
			<if test="expressNo != null and expressNo.length()>0">and express_no = #{expressNo}</if>
			<if test="buyStatus != null and buyStatus.length()>0">and buy_status = #{buyStatus}</if>
			<if test="deliveryDate != null and deliveryDate.length()>0">and delivery_date = #{deliveryDate}</if>
		</where>
	</sql>
	<!-- 废弃
	<sql id="orderStatistics">
		select 
			ifnull(sum(deposits),0) handselAmount,
			ifnull(sum(total_amt),0) expectAmount, 
			ifnull(sum((case when order_status = 4 then (pay_Amount) else 0 end)),0) refuseAmount, 
			ifnull(sum((case when order_status = 4 then (cash_on_delivery_amt) else 0 end)),0) refusePaymentAmount, 
			ifnull(sum(pay_Amount),0) realAmount, 
		    sum((case when order_status = 4 then (express_amount*2) else express_amount end )) expressTotalFee,
		    sum((case when order_status = 4 then 0 else ROUND((cash_on_delivery_amt*0.03) ,2) end )) expressCommissionTotalFee,
		    count((case when order_status = 4 then null else 1 end)) sumOrders,
			order_date,
			left(order_date,6) month
			
		FROM cust_orders o
		where o.order_status between 1 and 4
		<if test="userId != null">and user_id=#{userId}</if>
		
		group by o.order_date
	</sql>
	
	<select id="querySumAmountByMonth" parameterType="Map" resultType="com.base.crm.report.entity.SummaryReport">
		select 
			* 
		from (<include refid="orderStatistics" />) t
		where t.month = #{month}
		group by t.month desc
	</select>
	

	<select id="selectOrderCountByMonth" parameterType="Map" resultType="java.util.HashMap">
		SELECT 
			ifnull(sum(deposits),0) handselAmount,
			sum(total_amt) sumAmount, 
		    count(1) sumOrders,
		    ifnull(sum((case when order_date = date_format(date_sub(curdate(),interval 1 day), '%Y%m%d')  then 1 else 0 end )),0) yesterdayOrdCount,
			ifnull(sum((case when order_date = date_format(now(), '%Y%m%d')  then 1 else 0 end )),0) currentCount,
			sum((case when order_date = date_format(date_sub(curdate(),interval 1 day), '%Y%m%d')  then total_amt else 0 end )) yesterdayAmount,
			sum((case when order_date = date_format(now(), '%Y%m%d')  then total_amt else 0 end )) currentAmount
		FROM cust_orders
		where substr(order_date,1,6) = #{month}  
		<if test="userId != null">and user_id=#{userId}</if>
		and  order_status between 1 and 3
	</select>
	
	
	<select id="selectOrderSummaryBy" parameterType="Map" resultType="java.util.HashMap">
		select 
			* 
		from (<include refid="orderStatistics" />) t
		group by t.month desc
		
	</select>
	-->
	
	<select id="selectDailyCountBy" parameterType="com.base.crm.orders.entity.CustOrder"
		resultType="Long">
		select count(1) from  date_dict c
		
		where 1=1
		<if test="startDate != null and startDate.length()>0">and c.date_id>=#{startDate}</if>
		<if test="endDate != null and endDate.length()>0">and c.date_id <![CDATA[<=]]>#{endDate}</if>
		order by c.date_id desc
	</select>
	
	
	<!-- 废弃
		select 
			d.daily_date dates,
			( 
				SELECT count(1)  FROM  cust_info c 
				where c.status = 1 and c.add_date=d.daily_date
			) fansNum,
			ifnull(od.handselAmount,0) handselAmount,
			ifnull(od.expectAmount,0) expectAmount,
			ifnull(od.realAmount,0) realAmount,
			ifnull(od.refuseAmount,0) refuseAmount,
			ifnull(od.refusePaymentAmount,0) refusePaymentAmount,
			(ifnull(od.realAmount,0) - ifnull(od.refuseAmount,0)) serviceKPI,
			ifnull(od.sumOrders,0) sumOrders
			
		from statistics_date_view d
		left join (
				<include refid="orderStatistics" />
		) od on od.order_date = d.daily_date
	 -->
	<select id="selectServicerKPIForDalilyPageBy" parameterType="com.base.crm.orders.entity.CustOrder" resultType="com.base.crm.report.entity.SummaryReport">
		select * from kpi_for_user_view d
		
		where 1=1
		<if test="startDate != null and startDate.length()>0">and d.dates>=#{startDate}</if>
		<if test="endDate != null and endDate.length()>0">and d.dates <![CDATA[<=]]>#{endDate}</if>
		<if test="userId != null">and d.userId = #{userId}</if>
		
		order by d.dates desc
		
       <if test="pageTools != null"> limit #{pageTools.rowIndex},#{pageTools.pageSize}</if>
	</select>


	<select id="selectMonthCountBy" parameterType="com.base.crm.orders.entity.CustOrder"
		resultType="Long">
		select count(1) 
		from 
		(
			select 
				d.month
			from kpi_for_user_view d
			
			where 1=1
			<if test="startDate != null and startDate.length()>0">and d.month>=#{startDate}</if>
			<if test="endDate != null and endDate.length()>0">and d.month <![CDATA[<=]]>#{endDate}</if>
			<if test="userId != null">and d.userId = #{userId}</if>
			
			group by d.month,userId
		) t
		where 1=1

	</select>

	<sql id="KPISummarySqlColumns">
		sum(handselAmount) handselAmount,
		sum(expectAmount) expectAmount,
		sum(realAmount) realAmount,
		sum(expressCommissionTotalFee) expressCommissionTotalFee,
		sum(sumOrders) sumOrders,
		sum(refuseAmount) refuseAmount,
		sum(refusePaymentAmount) refusePaymentAmount,
		sum(expressTotalFee) expressTotalFee,
		sum(fansNum) fansNum
	</sql>

	<select id="selectServicerKPIForMonthPageBy" parameterType="com.base.crm.orders.entity.CustOrder" resultType="com.base.crm.report.entity.SummaryReport">
		select 
			d.month,
			d.userId,
			<include refid="KPISummarySqlColumns" />
		
		from kpi_for_user_view d
		
		where 1=1
		<if test="startDate != null and startDate.length()>0">and d.month>=#{startDate}</if>
		<if test="endDate != null and endDate.length()>0">and d.month <![CDATA[<=]]>#{endDate}</if>
		<if test="userId != null">and d.userId = #{userId}</if>
		
		group by d.month,userId
		order by d.month desc
		
       <if test="pageTools != null"> limit #{pageTools.rowIndex},#{pageTools.pageSize}</if>
	</select>

	<!-- 废弃
	<select id="selectDailyKPIOrderSummaryPageByMonth" parameterType="com.base.crm.orders.entity.CustOrder" resultType="com.base.crm.report.entity.SummaryReport">
		SELECT 
			ad.*,
			t.dates,
			(
				select
					sum(amount) amount
				from procurement_costs
				where left(created_date,6) = t.dates 
			) procurementCosts,
			(
				select
					ifnull(sum(salary+sales_performance),0)
				from server_salary
				where salary_month = t.dates 
			) realSalary,
			( 
				SELECT count(1)  FROM  cust_info c where c.status = 1 and left(c.add_date,6)=t.dates
			) fansNum,
			ifnull(sum(od.handselAmount),0) handselAmount,
			ifnull(sum(od.expectAmount),0) expectAmount,
			ifnull(sum(od.realAmount),0) realAmount,
			ifnull(sum(od.refuseAmount),0) refuseAmount,
			ifnull(sum(od.refusePaymentAmount),0) refusePaymentAmount,
			(ifnull(sum(od.realAmount),0) - ifnull(sum(od.refuseAmount),0)) serviceKPI,
			ifnull(sum(od.expressTotalFee),0) expressTotalFee,
			ifnull(sum(od.expressCommissionTotalFee),0) expressCommissionTotalFee,
			ifnull(sum(od.sumOrders),0) sumOrders
		    
		FROM (<include refid="orderStatistics" />) od
        right join (
			select 
				month_date dates
			from statistics_date_view c 
			group by month_date
        ) t on t.dates = od.month
		left join (
			select 
				sum(a.consume_amount) consumeAD ,
		        sum(a.real_amount) realConsumeAD,
		        left(a.consume_date,6) consumeMonth
		    from ad_consume a
		    group by left(a.consume_date,6)
		) ad on ad.consumeMonth = t.dates
		where 1=1
		<if test="startDate != null and startDate.length()>0">and t.dates>=#{startDate}</if>
		<if test="endDate != null and endDate.length()>0">and t.dates <![CDATA[<=]]>#{endDate}</if>
		
        group by t.dates
        order by t.dates desc
        <if test="pageTools != null"> limit #{pageTools.rowIndex},#{pageTools.pageSize}</if>
       
	</select>
	
	-->
	<select id="selectSalesPerformanceSummaryReport" parameterType="com.base.crm.orders.entity.CustOrder" resultType="com.base.crm.report.entity.SummaryReport">
		select * from kpi_for_sum_view t 
		where 1=1
		<if test="startDate != null and startDate.length()>0">and t.month>=#{startDate}</if>
		<if test="endDate != null and endDate.length()>0">and t.month <![CDATA[<=]]>#{endDate}</if>
		
        group by t.month
        order by t.month desc
        <if test="pageTools != null"> limit #{pageTools.rowIndex},#{pageTools.pageSize}</if>
       
	</select>
	
	
	<select id="selectOrderSalesRateReportPageCountByMonth" parameterType="com.base.crm.orders.entity.OrderSalesRateReport"
		resultType="Long">
		SELECT COUNT(1) 
		FROM order_sales_rate_report_view g 
		where 1=1
			<if test="groupId != null">and groupId=#{groupId}</if>
			<if test="addMonth != null and addMonth.length()>0">and addMonth= #{addMonth}</if>
	</select>
	
	<select id="selectOrderSalesRateReportPageByMonth" parameterType="com.base.crm.orders.entity.OrderSalesRateReport" resultType="com.base.crm.orders.entity.OrderSalesRateReport">
		select
			*
		from order_sales_rate_report_view g 
		where 1=1
		<if test="groupId != null">and groupId=#{groupId}</if>
		<if test="addMonth != null and addMonth.length()>0">and addMonth= #{addMonth}</if>
  
        order by addMonth desc 
        limit #{pageTools.rowIndex},#{pageTools.pageSize}
	</select>
	
	<select id="selectSalesRateReportPageCountByMonth" parameterType="com.base.crm.orders.entity.OrderSalesRateReport"
		resultType="Long">
		SELECT COUNT(1) 
		FROM (
			SELECT  
				count(1)
			FROM order_sales_rate_report_view 
			where 1=1
			<if test="addMonth != null and addMonth.length()>0">and addMonth= #{addMonth}</if>
			group by addMonth 
		) g 
	</select>
	
	<select id="selectSalesRateReportPageByMonth" parameterType="com.base.crm.orders.entity.OrderSalesRateReport" resultType="com.base.crm.orders.entity.OrderSalesRateReport">
		SELECT  
			addMonth, 
			sum(fansNum) fansNum, 
			sum(orderedNum) orderedNum, 
			sum(reorderedNum) reorderedNum
		FROM order_sales_rate_report_view 
		where 1=1
		<if test="addMonth != null and addMonth.length()>0">and addMonth= #{addMonth}</if>
		
		group by addMonth 
		order by addMonth desc
        limit #{pageTools.rowIndex},#{pageTools.pageSize}
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="pageCustOrderMap">
		select
		<include refid="Base_Column_List" />
		from cust_orders
		where order_no = #{orderNo,jdbcType=BIGINT}
	</select>
		
	<select id="selectByObjectForList" parameterType="com.base.crm.orders.entity.CustOrder"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cust_orders
		<include refid="dynamicWhere" />
		order by order_no desc
	</select>
	
	<select id="selectPageByObjectForList" parameterType="com.base.crm.orders.entity.CustOrder"
		resultMap="pageCustOrderMap">
		select
		<include refid="Base_Column_List" />
		from cust_orders
		<include refid="dynamicWhere" />
		order by order_no desc
		limit #{pageTools.rowIndex},#{pageTools.pageSize}
	</select>
	
	<select id="selectPageTotalCount" parameterType="com.base.crm.orders.entity.CustOrder"
		resultType="Long">
		select
			count(1)
		from cust_orders
		
		
		<include refid="dynamicWhere" />
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from cust_orders
		where order_no = #{orderNo,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.base.crm.orders.entity.CustOrder"
		useGeneratedKeys="true" keyProperty="orderNo">
		
		insert into cust_orders
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderNo != null">
				order_no,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="oWechatNo != null">
				o_wechat_no,
			</if>
			<if test="orderStatus != null">
				order_status,
			</if>
			<if test="contact != null">
				contact,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="oPhone != null">
				o_phone,
			</if>
			<if test="productList != null">
				product_list,
			</if>
			<if test="deposits != null">
				deposits,
			</if>
			<if test="cashOnDeliveryAmt != null">
				cash_on_delivery_amt,
			</if>
			<if test="totalAmt != null">
				total_amt,
			</if>
			<if test="afterDiscountAmt != null">
				after_Discount_Amt,
			</if>
			<if test="payAmount != null">
				pay_Amount,
			</if>
			<if test="paymentMethod != null">
				payment_method,
			</if>
			<if test="expressCompany != null">
				express_company,
			</if>
			<if test="expressNo != null">
				express_no,
			</if>
			<if test="orderDate != null">
				order_date,
			</if>
			<if test="orderDatetime != null">
				order_datetime,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="buyStatus != null"> 
				buy_status,
			</if>
			<if test="expressAmount != null"> 
				express_amount,
			</if>
			<if test="depositoryId != null"> 
				depository_id,
			</if>
			<if test="assortId != null"> 
				assort_id,
			</if>
			<if test="deliveryDate != null"> 
				delivery_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderNo != null">
				#{orderNo,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="oWechatNo != null">
				#{oWechatNo,jdbcType=VARCHAR},
			</if>
			<if test="orderStatus != null">
				#{orderStatus,jdbcType=INTEGER},
			</if>
			<if test="contact != null">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="oPhone != null">
				#{oPhone,jdbcType=BIGINT},
			</if>
			<if test="productList != null">
				#{productList,jdbcType=VARCHAR},
			</if>
			<if test="deposits != null">
				#{deposits,jdbcType=DECIMAL},
			</if>
			<if test="cashOnDeliveryAmt != null">
				#{cashOnDeliveryAmt,jdbcType=DECIMAL},
			</if>
			<if test="totalAmt != null">
				#{totalAmt,jdbcType=DECIMAL},
			</if>
			<if test="afterDiscountAmt != null">
				#{afterDiscountAmt,jdbcType=DECIMAL},
			</if>
			<if test="payAmount != null">
				#{payAmount,jdbcType=DECIMAL},
			</if>
			<if test="paymentMethod != null">
				#{paymentMethod,jdbcType=INTEGER},
			</if>
			<if test="expressCompany != null">
				#{expressCompany,jdbcType=VARCHAR},
			</if>
			<if test="expressNo != null">
				#{expressNo,jdbcType=VARCHAR},
			</if>
			<if test="orderDate != null">
				#{orderDate,jdbcType=VARCHAR},
			</if>
			<if test="orderDatetime != null">
				#{orderDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="buyStatus != null">
				#{buyStatus},
			</if>
			<if test="expressAmount != null"> 
				#{expressAmount},
			</if>
			<if test="depositoryId != null"> 
				#{depositoryId},
			</if>
			<if test="assortId != null"> 
				#{assortId},
			</if>
			<if test="deliveryDate != null"> 
				#{deliveryDate},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.base.crm.orders.entity.CustOrder">
		update cust_orders
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="oWechatNo != null">
				o_wechat_no = #{oWechatNo,jdbcType=VARCHAR},
			</if>
			<if test="orderStatus != null">
				order_status = #{orderStatus,jdbcType=INTEGER},
			</if>
			<if test="contact != null">
				contact = #{contact,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="oPhone != null">
				o_phone = #{oPhone,jdbcType=BIGINT},
			</if>
			<if test="productList != null">
				product_list = #{productList,jdbcType=VARCHAR},
			</if>
			<if test="deposits != null">
				deposits = #{deposits,jdbcType=DECIMAL},
			</if>
			<if test="cashOnDeliveryAmt != null">
				cash_on_delivery_amt = #{cashOnDeliveryAmt,jdbcType=DECIMAL},
			</if>
			<if test="totalAmt != null">
				total_amt = #{totalAmt,jdbcType=DECIMAL},
			</if>
			<if test="afterDiscountAmt != null">
				after_Discount_Amt = #{afterDiscountAmt,jdbcType=DECIMAL},
			</if>
			<if test="payAmount != null">
				pay_Amount = #{payAmount,jdbcType=DECIMAL},
			</if>
			<if test="paymentMethod != null">
				payment_method = #{paymentMethod,jdbcType=INTEGER},
			</if>
			<if test="expressCompany != null">
				express_company = #{expressCompany,jdbcType=VARCHAR},
			</if>
			<if test="expressNo != null">
				express_no = #{expressNo,jdbcType=VARCHAR},
			</if>
			<if test="orderDate != null">
				order_date = #{orderDate,jdbcType=VARCHAR},
			</if>
			<if test="orderDatetime != null">
				order_datetime = #{orderDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="buyStatus != null">
				buy_status = #{buyStatus},
			</if>
			<if test="expressAmount != null"> 
				express_amount = #{expressAmount},
			</if>
			<if test="depositoryId != null"> 
				depository_id = #{depositoryId},
			</if>
			<if test="assortId != null"> 
				assort_id = #{assortId},
			</if>
			<if test="deliveryDate != null"> 
				delivery_date = #{deliveryDate},
			</if>
		</set>
		where order_no = #{orderNo,jdbcType=BIGINT}
		<if test="oldOrderStatus != null">
			and order_status = #{oldOrderStatus,jdbcType=INTEGER}
		</if>
	</update>
	
	<update id="updateBuyStatusByErrBuyStatus" >
		update cust_orders s , (
			SELECT  min(o.order_no) order_no,o_wechat_no  FROM  cust_orders o  
			group by o_wechat_no
			having  count(1)>1
		) t
		set buy_status='reordered'
		where t.o_wechat_no= s.o_wechat_no
		and s.order_no > t.order_no
		and s.buy_status not in ( 'reordered')
	</update>
	
	<sql id="ExpressReportDynamicWhere">
		<where>
			<if test="depositoryId != null">and depositoryId=#{depositoryId}</if>
			<if test="month != null and month.length()>0">and month=#{month}</if>
		</where>
	</sql>

	<select id="selectExpressReportPageBy" parameterType="com.base.crm.report.entity.ExpressReport"
		resultType="com.base.crm.report.entity.ExpressReport">
		select
		*
		from 
		(
			select 
				depository_id depositoryId,
			    sum((case when order_status = 4 then (express_amount*2) else express_amount end )) expressTotalFee,
			    sum((case when order_status = 4 then 0 else ROUND((cash_on_delivery_amt*0.03) ,2) end )) expressCommissionTotalFee,
				left(delivery_date,6) month
				
			FROM cust_orders o
			where o.order_status between 1 and 4
			group by left(delivery_date,6) ,depository_id
		) t
		<include refid="ExpressReportDynamicWhere" />
		order by month desc
		<if test="pageTools != null">
			limit #{pageTools.rowIndex},#{pageTools.pageSize}
		</if>
	</select>

	<select id="selectExpressReportPageCountBy" parameterType="com.base.crm.report.entity.ExpressReport"
		resultType="Long">
		select
			count(1)
		from 
		(
			select 
				depository_id depositoryId,
				left(delivery_date,6) month
				
			FROM cust_orders o
			where o.order_status between 1 and 4
			group by left(delivery_date,6) ,depository_id
		) t
		<include refid="ExpressReportDynamicWhere" />
	</select>
</mapper>