<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.crm.customer.dao.CustInfoMapper">
	<resultMap id="BaseResultMap" type="com.base.crm.customer.entity.CustInfo">
		<id column="cust_id" jdbcType="BIGINT" property="custId" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="cust_name" jdbcType="VARCHAR" property="custName" />
		<result column="cust_wechat_no" jdbcType="VARCHAR" property="custWechatNo" />
		<result column="serve_wechat_no" jdbcType="VARCHAR" property="serveWechatNo" />
		<result column="cust_phone" jdbcType="BIGINT" property="custPhone" />
		<result column="level" jdbcType="INTEGER" property="level" />
		<result column="amt" jdbcType="DECIMAL" property="amt" />
		<result column="add_time" jdbcType="VARCHAR" property="addTime" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="add_date" jdbcType="VARCHAR" property="addDate" />
		<result column="ad_acct_id" jdbcType="BIGINT" property="adAcctId" />
		<collection property="levelInfo" column="level" select="com.base.crm.level.dao.LevelMapper.selectByPrimaryKey">
        </collection>
	</resultMap>
	
	<sql id="Base_Column_List">
		cust_id,user_id, cust_name, cust_wechat_no, cust_phone,serve_wechat_no, level,amt,
		add_time, address,
		remark,order_status,status,add_date,ad_acct_id
	</sql>
	<sql id="dynamicWhere">
		<where>
			<if test="custId != null">and cust_id=#{custId}</if>
			<if test="userId != null">and user_id=#{userId}</if>
			<if test="searchUser != null">and serve_wechat_no in (select serve_Wechat_No from serve_wechat s where s.user_id=#{searchUser})</if>
			<if test="custName != null and custName.length()>0">and cust_name like  CONCAT(#{custName},'%')</if>
			<if test="custWechatNo != null and custWechatNo.length()>0">and cust_wechat_no=#{custWechatNo}</if>
			<if test="serveWechatNo != null and serveWechatNo.length()>0">and serve_wechat_no=#{serveWechatNo}</if>
			<if test="custPhone != null">and cust_phone = #{custPhone}</if>
			<if test="level != null">and level = #{level}</if>
			<if test="addTime != null and addTime.length()>0">and substr( add_time,1,10) = #{addTime}</if>
			<if test="orderStatus != null and orderStatus.length()>0">and order_status = #{orderStatus}</if>
			<if test="status != null and status.length()>0">and status = #{status}</if>
			<if test="addDate != null and addDate.length()>0">and add_date = #{addDate}</if>
			<if test="adAcctId != null">and ad_acct_id = #{adAcctId}</if>
			
			<if test="startDate != null and startDate.length()>0">and add_date >= #{startDate}</if>
			<if test="endDate != null and endDate.length()>0">and add_date <![CDATA[<=]]> #{endDate}</if>
		</where>
	</sql>
	
	<sql id="selectWechatAddFansNumSQL"> 
		select 
			c.serve_wechat_no serveWechatNo,
			c.ad_acct_id adAcctId,
			c.add_date addDate,
			left(c.add_date,6) addMonth,
			count(1) fansNum
		from cust_info c 
		<include refid="dynamicWhere" />
		group by c.serve_wechat_no,c.ad_acct_id,c.add_date
	</sql>

	<select id="selectWechatAddFansNumByDailyPageCount" parameterType="com.base.crm.customer.entity.CustInfoReport"
		resultType="Long">
		select 
			count(1)
		from (<include refid="selectWechatAddFansNumSQL" />) t
	</select>
	
	<select id="selectWechatAddFansNumByDailyPage" parameterType="com.base.crm.customer.entity.CustInfoReport"
		resultType="com.base.crm.customer.entity.CustInfoReport">
		select 
			* 
		from (<include refid="selectWechatAddFansNumSQL" />) t
		where 1=1
		order by addDate desc,fansNum desc
		
		<if test="pageTools != null">
			limit #{pageTools.rowIndex},#{pageTools.pageSize}
		</if>
	</select>

	<select id="selectWechatAddFansNumByMonthPageCount" parameterType="com.base.crm.customer.entity.CustInfoReport"
		resultType="Long">
		select count(1) from 
		(
			select 
				count(1)
			from (<include refid="selectWechatAddFansNumSQL" />) t
			where 1=1
			<if test="startMonth != null and startMonth.length()>0">and addMonth >= #{startMonth}</if>
			<if test="endMonth != null and endMonth.length()>0">and addMonth <![CDATA[<=]]> #{endMonth}</if>
			group by serveWechatNo,adAcctId,addMonth
		) t1
	</select>
	
	<select id="selectWechatAddFansNumByMonthPage" parameterType="com.base.crm.customer.entity.CustInfoReport"
		resultType="com.base.crm.customer.entity.CustInfoReport">
		select 
			serveWechatNo,
			adAcctId,
			addMonth,
			sum(fansNum) fansNum
			
		from (<include refid="selectWechatAddFansNumSQL" />) t
		where 1=1
		<if test="startMonth != null and startMonth.length()>0">and addMonth >= #{startMonth}</if>
		<if test="endMonth != null and endMonth.length()>0">and addMonth <![CDATA[<=]]> #{endMonth}</if>
		group by serveWechatNo,adAcctId,addMonth
		order by addMonth desc,fansNum desc
		<if test="pageTools != null">
			limit #{pageTools.rowIndex},#{pageTools.pageSize}
		</if>
	</select>
	
	<select id="selectCustCountByMonth" parameterType="Map"
		resultType="java.lang.Long">
		SELECT  
		    count(1) monthCustCount
		FROM  cust_info
		where 1=1
		<if test="month != null and month.length()>0">and substr(add_date,1,6)=#{month}</if>
		<if test="queryDate != null and queryDate.length()>0">and add_date=#{queryDate}</if>
		<if test="userId != null">and user_id=#{userId}</if>
		<if test="status != null">and status=#{status}</if>
	</select>
	
	<select id="queryAddCustCountBy" parameterType="Map"
		resultType="java.util.HashMap">
		SELECT 
			count(1) num ,
			ifnull(sum(case when c.order_status <![CDATA[<>]]> 'none' then 1 else 0 end),0) ordered,
			ifnull(sum(case when c.order_status = 'reordered' then 1 else 0 end),0) reordered
		
		FROM cust_info c 
		where  date_format(str_to_date(add_time, '%Y-%m-%d %H'),'%Y%m') = #{month}
		and c.status=1
		and c.serve_wechat_no = #{serveWechatNo}
		<if test="userId != null">
			and c.user_id=#{userId}
		</if>
	</select>
	
	<select id="queryServerSalePerformanBy" parameterType="Map"
		resultType="java.math.BigDecimal">
		select 
			ifnull(sum(pay_amount) ,0) salePerforman
		from cust_info c
		inner join serve_wechat s on s.serve_wechat_no = c.serve_wechat_no
		inner join cust_orders o on o.o_wechat_no = c.cust_wechat_no
		where o.order_status = 3 
		and substr(o.order_date,1,6) = #{month}
		and c.serve_wechat_no = #{serveWechatNo}
		<if test="userId != null">
			and o.user_id=#{userId}
		</if>
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cust_info
		where cust_id = #{custId,jdbcType=BIGINT}
	</select>
	<select id="selectByPrimaryWechatNo" parameterType="String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cust_info
		where cust_wechat_no = #{custWechatNo,jdbcType=VARCHAR}
	</select>
	<select id="selectByObjectForList" parameterType="com.base.crm.customer.entity.CustInfo"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cust_info
		<include refid="dynamicWhere" />
		order by cust_id desc
		limit #{pageTools.rowIndex},#{pageTools.pageSize}
	</select>
	
	<select id="selectPageTotalCount" parameterType="com.base.crm.customer.entity.CustInfo"
		resultType="Long">
		select
			count(1)
		from cust_info
		<include refid="dynamicWhere" />
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		cust_info
		where cust_id = #{custId,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.base.crm.customer.entity.CustInfo">
		insert into cust_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="custId != null">
				cust_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="custName != null">
				cust_name,
			</if>
			<if test="custWechatNo != null">
				cust_wechat_no,
			</if>
			<if test="custPhone != null">
				cust_phone,
			</if>
			<if test="serveWechatNo != null">
				serve_wechat_no,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="orderStatus != null">
				order_status,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="addDate != null">
				add_date,
			</if>
			<if test="adAcctId != null">
				ad_acct_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="custId != null">
				#{custId,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="custName != null">
				#{custName,jdbcType=VARCHAR},
			</if>
			<if test="custWechatNo != null">
				#{custWechatNo,jdbcType=VARCHAR},
			</if>
			<if test="custPhone != null">
				#{custPhone,jdbcType=BIGINT},
			</if>
			<if test="serveWechatNo != null">
				#{serveWechatNo,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				#{level,jdbcType=INTEGER},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="orderStatus != null">
				#{orderStatus,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="addDate != null">
				#{addDate},
			</if>
			<if test="adAcctId != null">
				#{adAcctId},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.base.crm.customer.entity.CustInfo">
		update cust_info
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="custName != null">
				cust_name = #{custName,jdbcType=VARCHAR},
			</if>
			<if test="custWechatNo != null">
				cust_wechat_no = #{custWechatNo,jdbcType=VARCHAR},
			</if>
			<if test="serveWechatNo != null">
				serve_wechat_no = #{serveWechatNo,jdbcType=VARCHAR},
			</if>
			<if test="custPhone != null">
				cust_phone = #{custPhone,jdbcType=BIGINT},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=INTEGER},
			</if>
			<if test="amt != null">
				amt = amt + #{amt,jdbcType=DECIMAL},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="orderStatus != null">
				order_status = #{orderStatus,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="addDate != null">
				add_date = #{addDate},
			</if>
			<if test="adAcctId != null">
				ad_acct_id = #{adAcctId},
			</if>
		</set>
		<where>
			<if test="custId != null">cust_id=#{custId}</if>
			<if test="custWechatNo != null and custWechatNo.length()>0">and cust_wechat_no=#{custWechatNo}</if>
		</where>
	</update>
	
	<update id="updateCustOrderStatus" >
		update cust_info set order_status='reordered'
		where cust_wechat_no = (
			SELECT o_wechat_no FROM  cust_orders o
			 where o.o_wechat_no = cust_wechat_no
			group by o_wechat_no
			having  count(1)>1
		)
		and order_status not in ( 'reordered')
	</update>

</mapper>