<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.crm.orders.dao.CustOrderMapper">
	<resultMap id="BaseResultMap" type="com.base.crm.orders.entity.CustOrder">
		<id column="order_no" jdbcType="BIGINT" property="orderNo" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="o_wechat_no" jdbcType="VARCHAR" property="oWechatNo" />
		<result column="order_status" jdbcType="INTEGER" property="orderStatus" />
		<result column="contact" jdbcType="VARCHAR" property="contact" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="o_phone" jdbcType="BIGINT" property="oPhone" />
		<result column="product_list" jdbcType="VARCHAR" property="productList" />
		<result column="deposits" jdbcType="DECIMAL" property="deposits" />
		<result column="cash_on_delivery_amt" jdbcType="DECIMAL" property="cashOnDeliveryAmt" />
		<result column="total_amt" jdbcType="DECIMAL" property="totalAmt" />
		<result column="after_Discount_Amt" jdbcType="DECIMAL" property="afterDiscountAmt" />
		<result column="pay_Amount" jdbcType="DECIMAL" property="payAmount" />
		<result column="payment_method" jdbcType="INTEGER" property="paymentMethod" />
		<result column="express_company" jdbcType="VARCHAR" property="expressCompany" />
		<result column="express_no" jdbcType="VARCHAR" property="expressNo" />
		<result column="order_date" jdbcType="VARCHAR" property="orderDate" />
		<result column="order_datetime" jdbcType="TIMESTAMP" property="orderDatetime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="buy_status" jdbcType="VARCHAR" property="buyStatus" />
		<result column="express_amount" jdbcType="DECIMAL" property="expressAmount" />
	</resultMap>
	
	<resultMap id="pageCustOrderMap" type="com.base.crm.orders.entity.CustOrder" >
		<id column="order_no" jdbcType="BIGINT" property="orderNo" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="o_wechat_no" jdbcType="VARCHAR" property="oWechatNo" />
		<result column="order_status" jdbcType="INTEGER" property="orderStatus" />
		<result column="contact" jdbcType="VARCHAR" property="contact" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="o_phone" jdbcType="BIGINT" property="oPhone" />
		<result column="product_list" jdbcType="VARCHAR" property="productList" />
		<result column="deposits" jdbcType="DECIMAL" property="deposits" />
		<result column="cash_on_delivery_amt" jdbcType="DECIMAL" property="cashOnDeliveryAmt" />
		<result column="total_amt" jdbcType="DECIMAL" property="totalAmt" />
		<result column="after_Discount_Amt" jdbcType="DECIMAL" property="afterDiscountAmt" />
		<result column="pay_Amount" jdbcType="DECIMAL" property="payAmount" />
		<result column="payment_method" jdbcType="INTEGER" property="paymentMethod" />
		<result column="express_company" jdbcType="VARCHAR" property="expressCompany" />
		<result column="express_no" jdbcType="VARCHAR" property="expressNo" />
		<result column="order_date" jdbcType="VARCHAR" property="orderDate" />
		<result column="order_datetime" jdbcType="TIMESTAMP" property="orderDatetime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="buy_status" jdbcType="VARCHAR" property="buyStatus" />
		<result column="express_amount" jdbcType="DECIMAL" property="expressAmount" />
        <collection property="user" column="user_id" select="com.base.crm.users.dao.UserInfoMapper.selectByPrimaryKey">
        </collection>
        <collection property="custInfo" column="o_wechat_no" select="com.base.crm.customer.dao.CustInfoMapper.selectByPrimaryWechatNo">
        </collection>
    </resultMap>
		
	<sql id="Base_Column_List">
		order_no, user_id, o_wechat_no, order_status, contact, address, o_phone,
		product_list,
		deposits, cash_on_delivery_amt, total_amt, after_Discount_Amt, pay_Amount,
		payment_method,
		express_company, express_no, order_date, order_datetime,remark,buy_status,express_amount
	</sql>
	
	<sql id="dynamicWhere">
		<where>
			<if test="orderNo != null">order_no=#{orderNo}</if>
			<if test="userId != null">and user_id=#{userId}</if>
			<if test="orderStatus != null">and order_status = #{orderStatus}</if>
			<if test="contact != null and contact.length()>0">and contact like  CONCAT(#{contact},'%')</if>
			<if test="address != null and address.length()>0">and address like  CONCAT(#{address},'%')</if>
			<if test="orderDate != null and orderDate.length()>0">and order_date=#{orderDate}</if>
			<if test="startDate != null and startDate.length()>0">and order_date>=#{startDate}</if>
			<if test="endDate != null and endDate.length()>0">and order_date <![CDATA[<=]]>#{endDate}</if>
			<if test="oPhone != null">and o_phone = #{oPhone}</if>
			<if test="deposits != null">and deposits = #{deposits}</if>
			<if test="paymentMethod != null">and payment_method = #{paymentMethod}</if>
			<if test="expressCompany != null and expressCompany.length()>0">and express_company like  CONCAT(#{expressCompany},'%')</if>
			<if test="expressNo != null and expressNo.length()>0">and express_no = #{expressNo}</if>
			<if test="buyStatus != null and buyStatus.length()>0">and buy_status = #{buyStatus}</if>
		</where>
	</sql>
	
	<select id="querySumAmountByMonth" parameterType="String" resultType="com.base.crm.report.entity.SummaryReport">
		SELECT 
			sum(pay_Amount) realncomeTotalAmount,
			sum((case when order_status = 4 then (pay_Amount) else total_amt end )) saleTotalAmount,
			sum((case when order_status = 4 then (express_amount*2) else  express_amount+ROUND((cash_on_delivery_amt*0.03) ,2) end )) expressTotalFee
		FROM cust_orders
		where substr(order_date,1,6) = #{month}  
		and order_status between 1 and 4
	</select>
	
	<select id="selectOrderCountByMonth" parameterType="String" resultType="java.util.HashMap">
		SELECT 
			sum(total_amt) sumAmount, 
		    count(1) sumOrders,
		    ifnull(sum((case when order_date = date_format(date_sub(curdate(),interval 1 day), '%Y%m%d')  then 1 else 0 end )),0) yesterdayOrdCount,
			ifnull(sum((case when order_date = date_format(now(), '%Y%m%d')  then 1 else 0 end )),0) currentCount,
			sum((case when order_date = date_format(date_sub(curdate(),interval 1 day), '%Y%m%d')  then total_amt else 0 end )) yesterdayAmount,
			sum((case when order_date = date_format(now(), '%Y%m%d')  then total_amt else 0 end )) currentAmount
		FROM cust_orders
		where substr(order_date,1,6) = #{month}  
		<if test="userId != null">and user_id=#{userId}</if>
		and  order_status between 1 and 3
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="pageCustOrderMap">
		select
		<include refid="Base_Column_List" />
		from cust_orders
		where order_no = #{orderNo,jdbcType=BIGINT}
	</select>
		
	<select id="selectByObjectForList" parameterType="com.base.crm.orders.entity.CustOrder"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cust_orders
		<include refid="dynamicWhere" />
		order by order_no desc
	</select>
	
	<select id="selectPageByObjectForList" parameterType="com.base.crm.orders.entity.CustOrder"
		resultMap="pageCustOrderMap">
		select
		<include refid="Base_Column_List" />
		from cust_orders
		<include refid="dynamicWhere" />
		order by order_no desc
		limit #{pageTools.rowIndex},#{pageTools.pageSize}
	</select>
	
	<select id="selectPageTotalCount" parameterType="com.base.crm.orders.entity.CustOrder"
		resultType="Long">
		select
			count(1)
		from cust_orders
		<include refid="dynamicWhere" />
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from cust_orders
		where order_no = #{orderNo,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.base.crm.orders.entity.CustOrder">
		insert into cust_orders
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderNo != null">
				order_no,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="oWechatNo != null">
				o_wechat_no,
			</if>
			<if test="orderStatus != null">
				order_status,
			</if>
			<if test="contact != null">
				contact,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="oPhone != null">
				o_phone,
			</if>
			<if test="productList != null">
				product_list,
			</if>
			<if test="deposits != null">
				deposits,
			</if>
			<if test="cashOnDeliveryAmt != null">
				cash_on_delivery_amt,
			</if>
			<if test="totalAmt != null">
				total_amt,
			</if>
			<if test="afterDiscountAmt != null">
				after_Discount_Amt,
			</if>
			<if test="payAmount != null">
				pay_Amount,
			</if>
			<if test="paymentMethod != null">
				payment_method,
			</if>
			<if test="expressCompany != null">
				express_company,
			</if>
			<if test="expressNo != null">
				express_no,
			</if>
			<if test="orderDate != null">
				order_date,
			</if>
			<if test="orderDatetime != null">
				order_datetime,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="buyStatus != null"> 
				buy_status,
			</if>
			<if test="expressAmount != null"> 
				express_amount,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderNo != null">
				#{orderNo,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="oWechatNo != null">
				#{oWechatNo,jdbcType=VARCHAR},
			</if>
			<if test="orderStatus != null">
				#{orderStatus,jdbcType=INTEGER},
			</if>
			<if test="contact != null">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="oPhone != null">
				#{oPhone,jdbcType=BIGINT},
			</if>
			<if test="productList != null">
				#{productList,jdbcType=VARCHAR},
			</if>
			<if test="deposits != null">
				#{deposits,jdbcType=DECIMAL},
			</if>
			<if test="cashOnDeliveryAmt != null">
				#{cashOnDeliveryAmt,jdbcType=DECIMAL},
			</if>
			<if test="totalAmt != null">
				#{totalAmt,jdbcType=DECIMAL},
			</if>
			<if test="afterDiscountAmt != null">
				#{afterDiscountAmt,jdbcType=DECIMAL},
			</if>
			<if test="payAmount != null">
				#{payAmount,jdbcType=DECIMAL},
			</if>
			<if test="paymentMethod != null">
				#{paymentMethod,jdbcType=INTEGER},
			</if>
			<if test="expressCompany != null">
				#{expressCompany,jdbcType=VARCHAR},
			</if>
			<if test="expressNo != null">
				#{expressNo,jdbcType=VARCHAR},
			</if>
			<if test="orderDate != null">
				#{orderDate,jdbcType=VARCHAR},
			</if>
			<if test="orderDatetime != null">
				#{orderDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="buyStatus != null">
				#{buyStatus},
			</if>
			<if test="expressAmount != null"> 
				#{expressAmount},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.base.crm.orders.entity.CustOrder">
		update cust_orders
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="oWechatNo != null">
				o_wechat_no = #{oWechatNo,jdbcType=VARCHAR},
			</if>
			<if test="orderStatus != null">
				order_status = #{orderStatus,jdbcType=INTEGER},
			</if>
			<if test="contact != null">
				contact = #{contact,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="oPhone != null">
				o_phone = #{oPhone,jdbcType=BIGINT},
			</if>
			<if test="productList != null">
				product_list = #{productList,jdbcType=VARCHAR},
			</if>
			<if test="deposits != null">
				deposits = #{deposits,jdbcType=DECIMAL},
			</if>
			<if test="cashOnDeliveryAmt != null">
				cash_on_delivery_amt = #{cashOnDeliveryAmt,jdbcType=DECIMAL},
			</if>
			<if test="totalAmt != null">
				total_amt = #{totalAmt,jdbcType=DECIMAL},
			</if>
			<if test="afterDiscountAmt != null">
				after_Discount_Amt = #{afterDiscountAmt,jdbcType=DECIMAL},
			</if>
			<if test="payAmount != null">
				pay_Amount = #{payAmount,jdbcType=DECIMAL},
			</if>
			<if test="paymentMethod != null">
				payment_method = #{paymentMethod,jdbcType=INTEGER},
			</if>
			<if test="expressCompany != null">
				express_company = #{expressCompany,jdbcType=VARCHAR},
			</if>
			<if test="expressNo != null">
				express_no = #{expressNo,jdbcType=VARCHAR},
			</if>
			<if test="orderDate != null">
				order_date = #{orderDate,jdbcType=VARCHAR},
			</if>
			<if test="orderDatetime != null">
				order_datetime = #{orderDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="buyStatus != null">
				buy_status = #{buyStatus},
			</if>
			<if test="expressAmount != null"> 
				express_amount = #{expressAmount},
			</if>
		</set>
		where order_no = #{orderNo,jdbcType=BIGINT}
		<if test="oldOrderStatus != null">
			and order_status = #{oldOrderStatus,jdbcType=INTEGER}
		</if>
	</update>
	
	<update id="updateBuyStatusByErrBuyStatus" >
		update cust_orders s , (
			SELECT  min(o.order_no) order_no,o_wechat_no  FROM  cust_orders o  
			group by o_wechat_no
			having  count(1)>1
		) t
		set buy_status='reordered'
		where t.o_wechat_no= s.o_wechat_no
		and s.order_no > t.order_no
		and s.buy_status not in ( 'reordered')
	</update>
	
</mapper>