<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.common.email.dao.EmailTemplateMapper">
	<resultMap id="BaseResultMap" type="com.base.common.email.entity.EmailTemplate">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="subject" jdbcType="VARCHAR" property="subject" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="fun_code" jdbcType="VARCHAR" property="funCode" />
		<result column="created_date" jdbcType="VARCHAR" property="createdDate" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, subject, content, status,fun_code, created_date
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from email_template
		where id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="selectByFunCode" parameterType="String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from email_template
		where fun_code = #{funCode}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from email_template
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.base.common.email.entity.EmailTemplate">
		insert into email_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="subject != null">
				subject,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createdDate != null">
				created_date,
			</if>
			<if test="funCode != null">
				fun_code,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="subject != null">
				#{subject,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				#{createdDate},
			</if>
			<if test="funCode != null">
				#{funCode},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.base.common.email.entity.EmailTemplate">
		update email_template
		<set>
			<if test="subject != null">
				subject = #{subject,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="funCode != null">
				fun_code = #{funCode},
			</if>
			<if test="createdDate != null">
				created_date = #{createdDate,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<sql id="dynamicWhere">
		<where>
			<if test="id != null">and id=#{id}</if>
			<if test="status != null">and status=#{status}</if>
			
			<if test="subject != null and subject.length()>0">and subject=#{subject}</if>
			<if test="content != null and content.length()>0">and content=#{content}</if>
			
			<if test="createdDate != null and createdDate.length()>0">and created_date=#{createdDate}</if>
			<if test="startDate != null and startDate.length()>0">and created_date>=#{startDate}</if>
			<if test="endDate != null and endDate.length()>0">
				and created_date <![CDATA[<=]]>#{endDate}
			</if>
		</where>
	</sql>

	<select id="selectPageByObjectForList" parameterType="com.base.common.email.entity.EmailTemplate"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from email_template
		<include refid="dynamicWhere" />
		order by created_date desc
		limit
		#{pageTools.rowIndex},#{pageTools.pageSize}
	</select>

	<select id="selectPageTotalCount" parameterType="com.base.common.email.entity.EmailTemplate"
		resultType="Long">
		select
		count(1)
		from email_template
		<include refid="dynamicWhere" />
	</select>
	
</mapper>