<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.crm.orders.dao.OrderProductListMapper">
	<resultMap id="BaseResultMap" type="com.base.crm.orders.entity.OrderProductList">
		<id column="list_id" jdbcType="BIGINT" property="listId" />
		<result column="depository_id" jdbcType="BIGINT" property="depositoryId" />
		<result column="product_id" jdbcType="BIGINT" property="productId" />
		<result column="order_id" jdbcType="BIGINT" property="orderId" />
		<result column="num" jdbcType="BIGINT" property="num" />
		<result column="updated_date" jdbcType="VARCHAR" property="updatedDate" />
		<result column="created_date" jdbcType="VARCHAR" property="createdDate" />
	</resultMap>
	
	<sql id="Base_Column_List">
		list_id, depository_id, product_id, order_id, num, updated_date, created_date
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from order_product_list
		where list_id = #{listId,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from order_product_list
		where list_id = #{listId,jdbcType=BIGINT}
	</delete>
	
	<delete id="deleteByOrderId" parameterType="java.lang.Long">
		delete from order_product_list
		where order_id = #{orderId}
	</delete>

	<insert id="insertSelective" parameterType="com.base.crm.orders.entity.OrderProductList">
		insert into order_product_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="listId != null">
				list_id,
			</if>
			<if test="depositoryId != null">
				depository_id,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="orderId != null">
				order_id,
			</if>
			<if test="num != null">
				num,
			</if>
			<if test="updatedDate != null">
				updated_date,
			</if>
			<if test="createdDate != null">
				created_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="listId != null">
				#{listId,jdbcType=BIGINT},
			</if>
			<if test="depositoryId != null">
				#{depositoryId,jdbcType=BIGINT},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=BIGINT},
			</if>
			<if test="orderId != null">
				#{orderId,jdbcType=BIGINT},
			</if>
			<if test="num != null">
				#{num,jdbcType=BIGINT},
			</if>
			<if test="updatedDate != null">
				#{updatedDate,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.base.crm.orders.entity.OrderProductList">
		update order_product_list
		<set>
			<if test="depositoryId != null">
				depository_id = #{depositoryId,jdbcType=BIGINT},
			</if>
			<if test="productId != null">
				product_id = #{productId,jdbcType=BIGINT},
			</if>
			<if test="orderId != null">
				order_id = #{orderId,jdbcType=BIGINT},
			</if>
			<if test="num != null">
				num = #{num,jdbcType=BIGINT},
			</if>
			<if test="updatedDate != null">
				updated_date = #{updatedDate,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				created_date = #{createdDate,jdbcType=VARCHAR},
			</if>
		</set>
		where list_id = #{listId,jdbcType=BIGINT}
	</update>
	
	<sql id="dynamicWhere">
		<where>
			<if test="listId != null">and list_id=#{listId}</if>
			<if test="productId != null">and product_id=#{productId}</if>
			<if test="depositoryId != null">and depository_id=#{depositoryId}</if>
			<if test="orderId != null">and order_id=#{orderId}</if>
			
			<if test="createdDate != null and createdDate.length()>0">and created_date=#{createdDate}</if>
			<if test="startDate != null and startDate.length()>0">and created_date>=#{startDate}</if>
			<if test="endDate != null and endDate.length()>0">
				and created_date <![CDATA[<=]]>#{endDate}
			</if>
		</where>
	</sql>

	<select id="selectPageByObjectForList" parameterType="com.base.crm.orders.entity.OrderProductList"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from order_product_list
		<include refid="dynamicWhere" />
		order by created_date desc
		<if test="pageTools != null">
			limit #{pageTools.rowIndex},#{pageTools.pageSize}
		</if>
	</select>

	<select id="selectPageTotalCount" parameterType="com.base.crm.orders.entity.OrderProductList"
		resultType="Long">
		select
		count(1)
		from order_product_list
		<include refid="dynamicWhere" />
	</select>
</mapper>