<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="cust-info-content" class="container-fluid">
		<script type="text/javascript">
			
			$(function() {
				
				pageQueryParams.index = '[[${pageTools.index}]]';
				pageQueryParams.pageSize = '[[${pageTools.pageSize}]]';
				pageQueryParams.total = '[[${pageTools.total}]]';

				$("#queryCustInfoBTN").click(function() {
					var dataParams = $("#queryFrom").serialize();
					pageQueryParams.fromQueryData = dataParams;
					render(pageQueryParams); // 渲染页面函数
				});

				$("[data-toggle='popover']").popover();
				
				initTimePicker();
			});
		</script>
		<h3 class="page-title">粉丝信息</h3>
		<div class="row">
			<div class="col-md-12">
				<!-- TABLE HOVER -->
				<div class="panel panel-info">
					<form class="form-inline" id="queryFrom">
						<div class="panel-body">
							<div class="form-group col-sm-2">
								<label>加粉日期</label><br>
								<span class="input-group input-append date" id="datepicker">
									<input type="text" class="form-control" name="addTime"
                                           placeholder="yyyy-mm-dd" data-date-format="yyyy-mm-dd" 
                                           th:attr="value=${custInfo==null}?${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}:${custInfo.addTime}">
                                        <span class="input-group-addon add-on">
                                           <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
								 </span>
							</div>
							<div class="form-group col-sm-2" th:if="${session.user.isAdmin()}">
								<label>服务客服</label>
								<br>
								<select class="form-control" name="userId">
									<option value="" >===选择客服===</option>
									<option th:each="map:${@userContainer.userMap}" th:selected="${custInfo!=null&&custInfo.userId == map.key}" 
											th:value="${map.key}" th:text="${map.value}"></option>
								</select>
							</div>
							<div class="form-group col-sm-2">
								<label>粉丝编号</label>
								<br>
								<input type="text" class="form-control" placeholder="粉丝编号" name="custId"
									th:attr="value=${custInfo==null}?'':${custInfo.custId}">
							</div>
							<div class="form-group col-sm-2">
								<label>粉丝微信</label>
								<br>
								<input type="text" class="form-control" placeholder="粉丝微信" name="custWechatNo">
							</div>
							<div class="form-group col-sm-2">
								<label>服务微信</label>
								<br> 
								<select class="form-control" name="serveWechatNo">
									<option value="" >===服务微信===</option>
									<option th:each="map:${@commonConstants.getDictionarysByKey('wechatAlias')}" th:selected="${custInfo!=null&&custInfo.serveWechatNo == map.key}" 
											th:value="${map.key}" th:text="${map.value}"></option>
								</select>
							</div>
							<div class="form-group col-sm-2">
								<label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
								<br>
								<input type="text" class="form-control" placeholder="姓名" name="custName"
									th:attr="value=${custInfo==null}?'':${custInfo.custName}">
							</div>
							<div class="form-group col-sm-2">
								<label>手&nbsp;&nbsp; 机&nbsp;&nbsp;号</label>
								<br>
								<input type="text" class="form-control" placeholder="手机号" name="custPhone"
									th:attr="value=${custInfo==null}?'':${custInfo.custPhone}">
							</div>
							<!-- 
							<div class="form-group col-sm-2">
								<label>会员等级</label>
								<br>

								<select class="form-control" name="level">
									<option value="">===会员等级===</option>
									<option th:each="obj :${session.levelMap}"
										th:selected="${custInfo!=null&&custInfo.level == obj.key}" th:value="${obj.key}"
										th:text="${obj.value}"></option>
								</select>
							</div>
							 -->
							<div class="form-group col-sm-2">
								<label>购买状态</label><br>
								<select class="form-control" name="orderStatus">
									<option value="">===订购状态===</option>
									<option th:each="map:${@commonConstants.custOrderStatusMap}" 
											th:selected="${custInfo!=null&&custInfo.orderStatus == map.key}" 
											th:value="${map.key}" th:text="${map.value}"></option>
								</select> 
							</div>
							<div class="form-group col-sm-2">
								<label>客户状态</label><br>
								<select class="form-control" name="status">
									<option value="">===客户状态===</option>
									<option th:each="map:${new Object[] {'0', '1'}}" 
											th:selected="${custInfo!=null&&custInfo.status == map}" 
											th:value="${map}" th:text="${map=='1'?'有效':'无效'}"></option>
								</select>
							</div>
						</div>
						<div class="panel-body border-up-down">
							<div class="btn-right">
								<div class="btn-group">
									<button id="queryCustInfoBTN" type="button" class="btn btn-default">
										<i class="fa fa-search"></i>
										查&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;询
									</button>
								</div>
								<div class="btn-group">
									<a class="btn btn-default"
										th:attr="href='/customer/primaryCustInfoModalView?modifyModel=custInfoAdd&id='"
										data-toggle="modal" data-target="#ModifyModal">
										<span class="fa fa-plus-square"></span>
										&nbsp;添加粉丝
									</a>
								</div>
							</div>
						</div>
					</form>
					<div class="panel-body table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th th:if="${session.user.isAdmin()}">服务客服</th>
									<th>粉丝编号</th>
									<th width="10%">粉丝微信</th>
									<th width="10%">服务微信</th>
									<th>微信别名</th>
									<th>姓名</th>
									<th>手机号</th>
									<th>订购状态</th>
									<!-- 
									<th>会员等级</th>
									<th>会员余额</th>
									 -->
									<th>加粉时间</th>
									<th width="8%">地址</th>
									<th>备注</th>
									<th>是否有效</th>
									<th width="8%">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="obj : ${custInfoList}">
									<td th:text="${@userContainer.get(obj.userId)}" th:if="${session.user.isAdmin()}"></td>
									<td th:text="${obj.custId}"></td>
									<td th:text="${obj.custWechatNo}"></td>
									<td th:text="${obj.serveWechatNo}"></td>
									<td th:text="${@commonConstants.getDictionarysByKey('wechatAlias').get(obj.serveWechatNo)}"></td>
									<td th:text="${obj.custName}"></td>
									<td th:text="${obj.custPhone}"></td>
									<td th:text="${@commonConstants.custOrderStatusMap.get(obj.orderStatus)}"></td>
									<!-- 
									<td th:text="${session.levelMap.get(obj.level)}"></td>
									<td th:text="${#numbers.formatCurrency(obj.amt)}"></td>
									 -->
									<td th:text="${obj.addTime}"></td>
									<td class="textOverFlowHide" data-container="body" data-toggle="popover"
										data-trigger="hover" data-placement="top" th:attr="data-content=@{${obj.address}}">
										<div th:text="${obj.address}" class="textOverFlowHide"></div>
									</td>
									<td data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top"
										th:attr="data-content=@{${obj.remark}}">
										<div th:text="${obj.remark}" class="textOverFlowHide"></div>
									</td>
									<td>
										<span class="label label-success" th:if="${obj.status=='1'}" >有效</span>
										<span class="label label-default" th:if="${obj.status=='0'}">无效</span>
									</td>
									<td>
										<div class="btn-group">
											<a class="btn btn-default btn-sm " data-toggle="modal" data-target="#ModifyModal"
												th:attr="href='/customer/primaryCustInfoModalView?modifyModel=custInfoEdit&id='+${obj.custId}">
												<span class="glyphicon glyphicon-edit"></span>
												&nbsp;更新
												<i class="icon-star"></i>
											</a>
											<!-- 
											<a class="btn btn-default btn-sm" data-toggle="modal" data-target="#ModifyModal"
												th:attr="href='/customer/primaryCustInfoModalView?modifyModel=custInfoRecharge&id='+${obj.custId}">
												<span class="glyphicon glyphicon-jpy"></span>
												&nbsp;充值
											</a>
											 -->
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="panel-footer">
						<ul class="pagination">
						</ul>
					</div>
				</div>
				<!-- END TABLE HOVER -->
			</div>
		</div>
	</div>
</body>
</html>